################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api-cicd/.vs/api-cicd
/api-cicd/api-cicd/bin/Debug/netcoreapp2.2
/api-cicd/api-cicd/obj
/api-cicd/api-cicd/api-cicd.csproj.user
